.quoting {
    font-size: 30px;
    font-family: aRIAL;
    font-weight: bold;
}
.favorite{
     font-size: 30px;
    font-family: Times New Roman;
    font-weight: bold;
}
.picture-1 {
    width: 70px;
    height: 100px;
    object-position: center;
    object-fit: contain;
    margin-bottom: 0px;
    display: inline-block;
}
.one {
    font-weight: bold;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.number {
    display: inline-block;
    margin: b;
}
.number-1 {
    display: inline-block;
}

.picture-2 {
    width: 70px;
    height: 100px;
    object-position: center;
    object-fit: contain;
    margin-bottom: 0px;
    
}
.by {
    margin-top: 0px;
    margin-left: 20px;
    font-style: italic;
    color: rgb(90, 90, 90);
}
.law {
    margin-left: 20px;
    color: gray;
    font-size: 15px;
    width: 500px;
}
.context {
    margin-left: 60px;
    font-size: 15px;
    width: 500px;
    color: gray;
}